<!DOCTYPE html>
<html>
    <head>
        <title>
            Blogging App!
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    <body>
      <nav class="ui fixed inverted menu">
        <div class="ui container">
          <div class="header item" style="font-size: 20px;"><i class="code icon"></i>BlogApp</div>
          <a href="/" class="item">Home</a>
          <a href="/blogs/new" class="item">New Post</a>
          <div class="right menu"> 
              <a href="/signup" class="item">Sign-Up</a>
              <a href="/login" class="item">Login</a>
          </div>
          
          

        </div>
      </nav>
  