<%- include("partials/header")%>
<div class="ui main text container segment">
<div class="ui huge header">
    New Blog!
</div>
<form action="/blogs" method="post" class="ui form">
    <div class="field">
        <label for="">Title</label>
        <input type="text" name="blog[title]" placeholder="Title" required>
    </div>
    <div class="field">
        <label for="">Image</label>
        <input type="text" name="blog[image]" placeholder="Image Url" required>
    </div>
    <div class="field">
        <label for="">Description</label>
        <Textarea name="blog[decription]" required></Textarea>
    </div>
    <input class="ui violet basic button" type="submit">
</form>
</div>

<%-include("partials/footer") %>
